* {
    box-sizing: border-box;
  }
  body {
    margin: 0 auto;
    max-width: 1440px;
    font-family: "Roboto", sans-serif;
  }
  .block_1 {
    display: flex;
  }
  .img_book {
    width: 400px;
    height: 450px;
    padding-top: 100px;
    padding-left: 150px;
  }
  .main_text {
    flex-direction: column;
    padding-left: 115px;
    padding-right: 100px;
  }
  .text_1 {
    font-weight: bold;
    font-size: 55px;
    line-height: 64px;
    padding-top: 100px;
  }
  .text_2 {
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    padding-top: 10px;
    word-wrap: normal;
  }
  .text_3 {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    padding-top: 20px;
    word-wrap: normal;
  }
  .text_4 {
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    padding-top: 30px;
  }
  .button_1 {
    width: 183px;
    height: 69px;
    background: #FF6D1C;
    border-radius: 10px;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    border: none;
    margin-top: 39px;
    margin-right: 123px;
  }
  .button_2 {
    width: 285px;
    height: 69px;
    background: #FFFFFF;
    border: 3px solid #FF6D1C;
    border-radius: 10px;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #FF6D1C;
  }
  .block_2 {
    max-width: 1440px;
    height: 500px;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 216px;
  }
  .text_12 {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding-top: 106px;
  }
  .block_22 {
    display: flex;
    justify-content: space-around;
  }
  .img {
    padding-top: 60px;
  }
  .img_1 {
    width: 150px;
    padding-left: 60px;
  }
  .img_2 {
    width: 180px;
    padding-top: 65px;
    padding-left: 70px;
  }
  .img_3 {
    width: 150px;
    padding-top: 35px;
    padding-left: 30px;
  }
  .img_4 {
    width: 130px;
    padding-top: 55px;
    padding-left: 50px;
  }
  .text_11 {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding-top: 50px;
  }
  .text_13 {
    padding-top: 35px;
  }
  .text_footer {
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    padding-top: 96px;
  }
  .people_1 {
    display: flex;
    justify-content: space-around;
    padding-top: 149px;
  }
  .people_2 {
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
    padding-bottom: 100px;
  }